/* app css stylesheet */
@font-face {
    font-family: PT_Mono;
    src: url(PT_Mono/PTM55FT.ttf) format('truetype');
}
.body {
  background: #525050;
}

div.title {
    font-size: 36px;
    font-family: PT_Mono;
    color: limegreen;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.navbar-inverse .navbar-text {
  color: limegreen;
}
  
.navbar-inverse .navbar-text {
  position: relative;
  display: inline-block;
  font-size: 20px;
  height: 20px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  font-family: PT_Mono;
  margin-top: 8px;
  text-align: center
}

.game-message {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.72);
    z-index: 100;
    padding-top: 40px;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

.message {
  text-align: center;
  color: limegreen;
  font-family: PT_Mono;
  font-weight: bold;
  font-size: 24px;
  margin: 40px;
}

.game-container {
    margin-top: 40px;
    position: relative;
    padding: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo{
    height: 70px;
    width: 70px;
}

.logo img{
    box-shadow: 0 0 10px 10px #000;
    border-radius: 100%;
}

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

.score-container {
  position: relative;
  display: inline-block;
  text-align: center; }
  .score-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center; }
  .score-container .score-addition {
    position: absolute;
    right: 30px;
    margin-top: 8px;
    color: lime;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    }

.wallet-container {
  position: relative;
  display: inline-block;
  text-align: center; }
  .wallet-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center; }
  .wallet-container .wallet-addition {
    position: absolute;
    right: 30px;
    margin-top: 8px;
    color: lime;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    }
  .wallet-container .wallet-subtraction {
    position: absolute;
    right: 30px;
    margin-top: 8px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    }