<!DOCTYPE html>
<html>
<head> 
<!-- angular -->
<script src="./bower_components/angular/angular.js"></script>
<!-- jquery -->
<script src="./bower_components/jquery/dist/jquery.js"></script>
<!-- bootstrap -->
<link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 
<!-- angular highcharts -->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="./bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  
<!-- ng socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
<script src="./bower_components/angular-socket-io/socket.js"></script>
    
<!-- app -->
<script src="./app.module.js"></script>
<script src="./app.controller.js"></script> 
<script src="./app.service.js"></script>  
<script src="./invest/invest.component.js"></script>
<script src="./hunt/hunt.component.js"></script>

<link href="./hunt/hunt.style.css" rel="stylesheet" type="text/css">
<link href="./app.css" rel="stylesheet" type="text/css" />

</head>

<body> 
  
  <div ng-app="myApp" ng-controller="myCtrl as ctrl">
    <div class="container bs-docs-container">
      <div class="page-header">
      <div class="title">
        <circle></circle>
        <img class="logo img-circle" src="images/logo.png">
        San Francisco Trail
      </div> 
        <nav class="navbar navbar-default">
          <div class="container-fluid">
          <p class="navbar-text">Wallet: {{ctrl.player.wallet}}</p>
          <p class="navbar-text">Level: {{ctrl.player.level}}</p>
          <p class="navbar-text">Score: {{ctrl.player.score}}</p>
          </div>
        </nav>
      </div>
      
      <div ng-switch on="ctrl.player.mode">
        <div ng-switch-when="0">
          <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>Play now to have fun  <button ng-click="ctrl.play()"> </p>
          </div>
          <div class="panel panel-default">         
            <div class="panel-heading">
              <h3 class="panel-title">
                Leaderboard
              </h3>
            </div>
            
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Score
                  </th>         
                </tr>
              </thead>
            
              <tbody>
                <tr ng-repeat="item in ctrl.leaderboard">
                  <td>{{item.member}}</td>
                  <td>{{item.score}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <invest ng-switch-when="1" player="ctrl.player"></invest>
        <hunt ng-switch-when="2" player="ctrl.player"></hunt>
        <div ng-switch-when="3" player="ctrl.player">
          <div class="jumbotron">
            Enter Your Name
            <div class="input-group">
              <input type="text" ng-model="ctrl.player.name" class="form-control">
            </div>
            <button ng-click="ctrl.postScore()" ng-disabled="ctrl.posted"/>
            <div ng-hide="!ctrl.posted">
               Posted! Reload the page to play again.
            </div>
          </div>
        </div>
        <div ng-switch-default></div>
      </div>
    </div>
  </div>
</body>
</html>