<!DOCTYPE html>
<html>
<head> 
<!-- angular -->
<script src="./bower_components/angular/angular.js"></script>
<!-- jquery -->
<script src="./bower_components/jquery/dist/jquery.js"></script>
<!-- bootstrap -->
<link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 
<!-- angular highcharts -->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="./bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  
<!-- ng socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
<script src="./bower_components/angular-socket-io/socket.js"></script>
    
<!-- app -->
<script src="./app.module.js"></script>
<script src="./app.controller.js"></script> 
<script src="./app.service.js"></script>  
<script src="./invest/invest.component.js"></script>
<script src="./hunt/hunt.component.js"></script>

<link href="./hunt/hunt.style.css" rel="stylesheet" type="text/css">
<link href="./app.css" rel="stylesheet" type="text/css" />

</head>

<body class="body"> 
  
  <div ng-app="myApp" ng-controller="myCtrl as ctrl">
    <div class="container bs-docs-container">
      <div class="page-header">
      <div class="title">
        <circle></circle>
        <img class="logo img-circle" src="images/logo.png">
        San Francisco Trail
      </div> 
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-text wallet-container">Wallet: {{player.wallet}}</div>
            <div class="navbar-text">Level: {{player.level}}</div>
            <div class="navbar-text score-container">
              Score: {{player.score}}
            </div>
          </div>
        </nav>
      </div>
      
      <div ng-switch on="player.mode">
        <div ng-switch-when="0">
          <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>
              So you're a young, hip, tech-head who is fresh out of college, and you have no idea what to do. Armed with the little cash you have saved up from your summer internships (well, what you haven't spent on Soylent and Hoodies), you head out west in search of greater pastures. And thus you have put yourself on the SF trail! Invest your money in the stocks of new and emerging tech companies, then hunt and acquire those same companies. You need to be quick. So keep your eyes open!
            </p>
            <button class="btn btn-default" ng-click="play()"> Play now to have fun </button> 
          </div>
          <div class="panel panel-default">         
            <div class="panel-heading">
              <h3 class="panel-title">
                Leaderboard
              </h3>
            </div>
            
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Score
                  </th>         
                </tr>
              </thead>
            
              <tbody>
                <tr ng-repeat="item in leaderboard">
                  <td>{{item.member}}</td>
                  <td>{{item.score}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <invest ng-switch-when="1" player="player"></invest>
        <hunt ng-switch-when="2" player="player"></hunt>
        
        <div ng-switch-when="3" player="player">
          <div class="jumbotron">
            Enter Your Name
            <div class="input-group">
              <input type="text" ng-model="player.name" class="form-control">
            </div>
            <button ng-click="postScore()" ng-disabled="posted"/>
            <div ng-hide="!posted">
               Posted! Reload the page to play again.
            </div>
          </div>
        </div>
        <div ng-switch-default></div>
      </div>
    </div>
  </div>
</body>
</html>