<div class="game-container">
      <div class="game-message" ng-if="!started && !finished">
        <div>
              You are about to invest in a Startup X. Be careful, buy too much and you may lose it all. Don't buy enough and you'll end up spending all your money on rent and moving back to where you are from. Buy and sell your stock whenever you please, just don't sit on your stash too long! Things change quickly around here. 
          </div> 
            <button type="button" class="btn btn-primary btn-lg" ng-click="startInvest()">
            Start
            </button>
      </div>
  
  <div class="game-message" ng-if="started && finished">
    
      <div>
        You earned ${{walletTemp - player.wallet}}
      </div>
      <button type="button" class="btn btn-primary btn-lg" ng-click="finishInvest()">
            Continue
          </button>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="pull-right">
          <button 
            type="button" 
            class="btn btn-primary btn-lg"
            ng-click="buyStock()" >
            Buy Stock 
          </button>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <h2>${{currentPrice}}</h2>
      </div>
      <div class="col-md-3">
        <button 
            type="button" 
            class="btn btn-primary btn-lg"  
            ng-click="sellStock()" >
          Sell Stock 
        </button>
      </div>

    </div>
    
  <div class = "row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <highchart id="chart1" config="chartConfig" class="span10"></highchart>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Stocks:</div>
            <div class="panel-body">
              <b>Count: </b>{{ stockCount }} <br>
              <b>Value: </b>{{ stockCount * currentPrice }}
            </div>
        </div>
      </div>
      <div class="row">
              <div class="panel panel-default">
          <div class="panel-heading">Wallet: </div>
            <div class="panel-body">
              {{ walletTemp }}
            </div>
        </div>
      </div>
      <div class="row">
              <div class="panel panel-default">
          <div class="panel-heading">Average Buy: </div>
            <div class="panel-body">
              {{averageBuy}}
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>