<div class="game-container">
  <div class="game-message" ng-if="!started && !finished">
    <div class="message">
      One of the startups you worked at is IPO'ing! Time to pay off all that code you gave away for percentage points. Be careful, buy too much and you may lose it all. Don't buy enough and you'll end up spending all your money on rent and moving back to where you are from. Buy and sell your stock whenever you please, just don't sit on your stash too long! Things change quickly around here. 
    </div> 
    <button type="button" class="btn btn-default btn-lg" ng-click="startInvest()">
      Start
    </button>
  </div>
  
  <div class="game-message" ng-if="started && finished">
    
      <div class="message">
        <div ng-if="player.wallet - walletInit > 0">
          Woo! You earned ${{player.wallet - walletInit}}
        </div>
        <div ng-if="player.wallet - walletInit == 0">
          You earned <b>Nothing</b>. Are you even trying?
        </div>
        <div ng-if="player.wallet - walletInit < 0">
          You lost ${{walletInit - player.wallet}}. This next hunt is gonna be tricky!
        </div>
      </div>
      <button type="button" class="btn btn-default btn-lg" ng-click="finishInvest()">
            Continue
          </button>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="pull-right">
          <button 
            type="button" 
            class="btn btn-default btn-lg"
            id="buyStock"
            ng-click="buyStock()" >
            Buy Stock 
          </button>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <h2 style="font-family: PT_Mono; color: limegreen">${{ currentPrice }}</h2>
      </div>
      <div class="col-md-3">
        <button 
            type="button" 
            class="btn btn-default btn-lg"  
            id="sellStock"
            ng-click="sellStock()" >
          Sell Stock 
        </button>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
              
              <b>Count: </b>{{ stockCount }} <br>
              <b>Value: </b>{{ stockCount * currentPrice }}
            </div>
        </div>
      </div>

    </div>
    
  <div class = "row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <highchart id="chart1" config="chartConfig" class="span10"></highchart>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <highchart id="chart1" config="statsChartConfig" class="span10"></highchart>
          </div>
        </div>
      </div>
    </div>
    <!--
    


      <div class="row">
              <div class="panel panel-default">
          <div class="panel-heading">Average Buy: </div>
            <div class="panel-body">
              {{ averageBuy }}
            </div>
        </div>
      </div>
    </div>
-->
  </div>
  </div>